<nav class="navbar navbar-light" style="background-color: dodgerblue; background-border:dodgerblue; color: white !important; ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/schedule">Dodgers</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li  routerLinkActive="active"><a [routerLink]= "['/schedule']">Schedule</a></li>
        <li routerLinkActive="active"><a [routerLink] = "['/availability']">Availability form</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle"  role="button" aria-haspopup="true" aria-expanded="false">Management <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Profile</a></li>
            <li><a (click)="logout()" [routerLink] = "['/login']" style="cursor:pointer;">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</nav>
